In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../../data/translated/transformer.csv')

In [4]:
len(df)

100

In [4]:
df.drop_duplicates(inplace=True)

In [6]:
df = df.iloc[: , 1:]
df.head()

,service_request_id,grievance,translated
0,101004372086,Overgrown weeds,[start] [UNK] a la malas malas malas malas mal...
1,101004337018,Broken sprinkler head,[start] se rompió la cabeza [end]
2,101004359338,"Broken glass bottles, unsafe area as a result",[start] el los que [UNK] de agua pasa en la qu...
3,101004362703,Big rats coming out of this yard all the time.,[start] las cosas más grande de este día [end]
4,101004371499,Trash on sidewalk,[start] el lugar de la lo [UNK] [end]

In [6]:
len(df)

3710

In [12]:
df

      service_request_id                                          grievance
0           1.010044e+11  People are sitting on top of park tables and m...
1           1.010042e+11                                          Light out
2           1.010044e+11  Across from 112 chittick road. 2 grills dumped...
3           1.010044e+11  Property conditions interfere with sidewalk pa...
4           1.010043e+11  Grass at Hemenway on the hill needs to be mowe...
...                  ...                                                ...
1404        1.010044e+11           Trash litter squalor what more can I say
1583        1.010044e+11  Huge pothole in front of the school on Corey S...
1760        1.010044e+11  3 moving trucks on E Concord st between  Gilda...
1763        1.010044e+11  Trash bag for removal. No code violation found...
1939                 NaN                                                NaN

[187 rows x 2 columns]

In [7]:
df.to_csv('../../data/translated/transformer.csv')