In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('../../data/final_grievances.csv')

In [8]:
len(df)

1949

In [9]:
df.drop_duplicates(inplace=True, keep='first', subset=['service_request_id'])

In [10]:
df.head()

   service_request_id                                          grievance
0        1.010044e+11  People are sitting on top of park tables and m...
1        1.010042e+11                                          Light out
2        1.010044e+11  Across from 112 chittick road. 2 grills dumped...
3        1.010044e+11  Property conditions interfere with sidewalk pa...
4        1.010043e+11  Grass at Hemenway on the hill needs to be mowe...

In [11]:
len(df)

187

In [12]:
df

      service_request_id                                          grievance
0           1.010044e+11  People are sitting on top of park tables and m...
1           1.010042e+11                                          Light out
2           1.010044e+11  Across from 112 chittick road. 2 grills dumped...
3           1.010044e+11  Property conditions interfere with sidewalk pa...
4           1.010043e+11  Grass at Hemenway on the hill needs to be mowe...
...                  ...                                                ...
1404        1.010044e+11           Trash litter squalor what more can I say
1583        1.010044e+11  Huge pothole in front of the school on Corey S...
1760        1.010044e+11  3 moving trucks on E Concord st between  Gilda...
1763        1.010044e+11  Trash bag for removal. No code violation found...
1939                 NaN                                                NaN

[187 rows x 2 columns]