In [1]:
# %pip install googletrans==4.0.0-rc1 # only this version works for some reason
from googletrans import Translator
import pandas as pd

In [2]:
translator = Translator()

In [10]:
df = pd.read_csv('../../data/train.csv')
df = df.iloc[: , 1:]
df.head()

   service_request_id                                       grievance
0        101004372086                                 Overgrown weeds
1        101004337018                           Broken sprinkler head
2        101004359338   Broken glass bottles, unsafe area as a result
3        101004362703  Big rats coming out of this yard all the time.
4        101004371499                               Trash on sidewalk

In [11]:
df['translated'] = df['grievance'].apply(lambda x: translator.translate(x, src='en', dest='es').text)

In [12]:
df.head()

,service_request_id,grievance,translated
0,101004372086,Overgrown weeds,Malezas cubiertas de maleza
1,101004337018,Broken sprinkler head,Cabeza rociadora rota
2,101004359338,"Broken glass bottles, unsafe area as a result","Botellas de vidrio rotas, área insegura como r..."
3,101004362703,Big rats coming out of this yard all the time.,Grandes ratas salen de este patio todo el tiempo.
4,101004371499,Trash on sidewalk,Basura en la acera

In [14]:
df.to_csv('../../data/translated/google_translate.csv')